<h1>Sample App</h1>
<p>This is the home pahe for <a href="http://railstutorial.org">Ruby Rails Tutorial</a> sample Application</p>

<%= link_to "Sign up now!", signup_path, :class => "signup_button round" %>